node_modules
.env
/dist
# Hardhat files
/cache
/artifacts
/docs
# TypeChain files
/typechain
/typechain-types
/backstop_data/bitmaps_test
# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
